/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

input {
    font-size: inherit;
}

.btn {
    margin: 0 8px;
    font-size: inherit;
    border: 0;
    padding: 6px;
    border-radius: 50px;
    background-color: blue;
    color: white;

    &:disabled {
        opacity: .5;
    }
}
